{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        cljfx/cljfx {:mvn/version "1.7.20"}
        org.clojure/core.cache {:mvn/version "1.0.225"}
        cljfx/css {:mvn/version "1.1.0"}
        hiccup/hiccup {:mvn/version "1.0.5"}
        com.taoensso/timbre {:mvn/version "5.2.1"}
        seancorfield/next.jdbc {:mvn/version "1.2.659"}
        org.xerial/sqlite-jdbc {:mvn/version "3.36.0.3"}
        com.github.seancorfield/honeysql {:mvn/version "2.2.891"}
        com.github.sanskrit-coders/indic-transliteration_2.12 {:mvn/version "1.32"}
        org.clojure/core.memoize {:mvn/version "1.0.257"}}
 :aliases
 {:run-m {:main-opts ["-m" "sanskrit-desktop-dict.core"]}
  :run-x {:ns-default sanskrit-desktop-dict.core
          :exec-fn -main
          :exec-args {:name "Clojure"}}
  :dev {:extra-paths ["src"]
        :extra-deps {}}
  :build {:deps {io.github.seancorfield/build-clj
                 {:git/tag "v0.6.3" :git/sha "9b8e09b"
                  ;; since we're building an app uberjar, we do not
                  ;; need deps-deploy for clojars.org deployment:
                  :deps/root "slim"}
                 tupelo/tupelo {:mvn/version "22.05.24g"}}
          :ns-default build}
  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                      io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.0" :git/sha "48c3c67"}}}}}
